[GENERAL]
cleanlogs = 1.0

[WAVEFORMS]
preforder = HH,EN,HN,EH,BH,BN
orientation = True
matching = 5.0
trimstart = -5.0
trimend = 5.0
trim = True

[SNR]
snrstart = -0.2
snrend = 0.2

[SPLITTING]
maxtd = 250.0

